<!-- Footer section-->

<footer class="mt-12">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>useful links</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="">Best sales</a></li>
          <li class="nav-item"><a href="">Hot Products</a></li>
          <li class="nav-item"><a href="">New products</a></li>
          <li class="nav-item"><a href="">Best Offers</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Support Services</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="">services</a></li>
          <li class="nav-item"><a href="">support</a></li>
          <li class="nav-item"><a href="">have a problem</a></li>
          <li class="nav-item"><a href="">live chat</a></li>
        </ul>
      </div>
      <address class="col">
        <h4>contact</h4>
        <ul class="nav flex-column">
          <li class="nav-item">0000	Market	St,	Suite	000,	San	Francisco,	CA	00000</li>
          <li class="nav-item">	(123)	456-789</li>
          <li class="nav-item"><a	href="mailto:#">support@dream-bean.com</a></li>
          <li class="dropdown-divider"></li>
          <li class="nav-item">
            <h5>follow us </h5>
            <div class="socials">
              <a class="btn btn-sm btn-outline-primary">facebook</a> | <a class="btn btn-sm btn-outline-danger">instagram</a> | <a class="btn btn-sm btn-outline-primary">twitter</a> | <a class="btn btn-sm btn-outline-danger" >youtube</a>
            </div>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <section id="footer-end " class="text-center">
    <span>CopyRight&copy; 2017 All Rights reserved made by <b>HSA</b> </span>
  </section>
</footer>
