<br><br>
<br>
<section id="signout">


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-header">
                    <h4>Are you sure you want to sign out?</h4>
                </div>
                <div class="card-block">
                    <p class="lead"> you are about to leave the website and logout.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsum laudantium placeat similique. Animi asperiores</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group center-block float-right">
                        <button class="btn btn-default">yes</button>
                        <button class="btn btn-danger">no</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</section>
