<br><br><div class="container">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-hover text-center bg-faded">
                <thead class="thead-faded">
                <tr>
                    <th>Name</th>
                    <th >Amount</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th	scope="row">product 1</th>
                    <td> 10$</td>
                    <td>1x</td>
                    <td>10$</td>
                </tr>
                <tr>
                    <th	scope="row">Product 2</th>
                    <td>90$</td>
                    <td>2x</td>
                    <td>180$</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <button class="btn btn-block">continue</button>
            <button class="btn btn-block">continue</button>
            <button class="btn btn-block">continue</button>
        </div>
    </div>
</div>
