<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div id="scroll-to-top" class="p-1 pl-2 pr-2" (click)="toTop()" *ngIf = 'hideAnchor'>
    <span>up</span>
</div>
<!--<div class="card center-block">-->
  <!--<div class="card-header">test</div>-->
  <!--<div class="card-block">-->
    <!--<input type="text" value="Hosam" (keyup)="logOut(inputTest, $event)" [(ngModel)]="inputTest">-->
    <!--{{title | testPipe:5}}-->
    <!--<br>-->
    <!--<div	#product>-->
      <!--<input	[value]="product.name"-->
              <!--(input)="product.name = $event.target.value"><br>-->
      <!--{{product.name}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
